.doctor-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .doctor-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .doctor-info {
    text-align: center;
  }
  
  .doctor-info h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .doctor-info h4 {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
  }
  
  .doctor-bio {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .doctor-education, .doctor-experience {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .doctor-education h3, .doctor-experience h3 {
    font-size: 20px;
    color: #444;
    margin-bottom: 10px;
  }
  
  .doctor-education ul, .doctor-experience ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .doctor-education li, .doctor-experience li {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .appointment-button {
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #346A74;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    
  }
  
  .appointment-button:hover {
    background-color: #0056b3;
  }
  