.doctor-list {
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .doctor-list h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .doctor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .doctor-card {
    flex: 1 1 calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
    margin: 10px;
  }
  .banner {
    background-color: #2a9244;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin: 40px 0; /* Spacing above and below the banner */
    margin-top: 100px;
  }
  
  .banner h2 {
    margin-bottom: 20px;
    color: #264653;
  }
  
  .search-input {
    padding: 12px;
    width: 100%;
    max-width: 500px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ffffff;
  }
  
  
  