.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e1e1e1;
    height: 20%;
    color: #346a74;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #346a74;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .social-media {
    margin-top: 15px;
  }
  
  .social-media a {
    color: #346a74;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
    margin: 15px;
    
  }
  
  .social-media a:hover {
    color: #57a5b3;
  }
  
  .para{
    font-size: 20px;
    letter-spacing: 2px;
  }